body{
    background-color: rgb(16, 0, 0);
}
main{
    border: 1px solid white;
    width: 200px;
    height: 200px;
    margin:250px auto 0px;
    position: relative;
}
div{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    position: absolute;
    top: 50px;
    left: 50px;
    animation-name: box;
    animation-duration: 2s;
    animation-direction: normal;
    animation-iteration-count: infinite;
}
@keyframes box {
    0%{
        top: 50px;
        left: 50px;
        border-radius: 50%;
        transform: scale(1);
    }
    25%{
        top: 50px;
        left: 100px;
        border-radius: 0%;
        transform: scale(.5);
    }
    50%{
        top: 100px;
        left: 100px;
        border-radius: 50%;
        transform: scale(1);
    }
    75%{
        top: 100px;
        left: 50px;
        border-radius: 0%;
        transform: scale(.5);
    }
    100%{
        top: 50px;
        left: 50px;
        border-radius: 50%;
        transform: scale(1);
    }
}
.box1{
    background-color: pink;
    z-index: 1;
}
.box2{
    background-color: skyblue;
}
.box3{
    background-color: purple;
}
.box4{
    background-color: yellow;
}
div:first-child{
    animation-delay: 500ms;
}
div:nth-child(2){
    animation-delay: 1000ms;
}
div:nth-child(3){
    animation-delay: 1500ms;
}
div:last-child{
    animation-delay: 2000ms;
}
/* 
1s = 1000ms/4 = 250
 */