*{
    margin: 0px;
    padding: 0px;
}
main{
    background-color: cadetblue;
    height: 600px;
    color: white;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    /* ---------------------------------- */
    /* justify-content: start; */
    /* justify-content: left; */
    /* justify-content: flex-start; */
    /* justify-content: stretch; */

    /* justify-content: end; */
    /* justify-content: right; */
    /* justify-content: flex-end; */

    justify-content: center;
    /* justify-content: space-between; */
    /* justify-content: space-around; */
    /* justify-content: space-evenly; */

    /* ---------------------------------- */
    /* flex-direction: row; */
    /* flex-direction: row-reverse; */
    /* flex-direction: column;     */
    /* flex-direction: column-reverse; */

    /* -------------------------------- */
    /* flex-wrap: nowrap; */
    flex-wrap: wrap;
    /* flex-wrap: wrap-reverse; */
    /* -------------------------------- */
    /* flex-flow: row-reverse; */
    /* flex-flow: wrap; */
    /* flex-flow: row-reverse wrap; */
    /* column-gap: 10px; */
    /* row-gap: 20px; */
    /* both row and col */
    /* gap: 30px; */
    /*row   column  */
    gap: 30px  50px; 
}
div{
    width: 200px;
}
/* div{
    flex-grow: 1;
}
.box5{
    flex-grow: 2;
} */
div:nth-child(2n){
    background-color: green;
}
div:nth-child(2n+1){
    background-color: crimson;
}



/* 
Parents : 
    justify-content: ;
    flex-direction: ;
    flex-wrap: ;
    flex-flow: ;
    align-items: ;
    gap: ;
    row-gap: ;
    column-gap: ;


Child : 
    flex-shrink: ;
    flex-basis: ;
    flex-grow: ;
    align-self: ;
    align-content: ;
    order: ;

 */