/* div{
    width: 100%;
    height: 600px;
    border: 1px solid black;
    background-image: url("image1.jpg"), url("https://images.pexels.com/photos/994605/pexels-photo-994605.jpeg?cs=srgb&dl=pexels-fabian-wiktor-994605.jpg&fm=jpg");
    background-size:50% 100%;
    background-repeat: no-repeat;
    background-position: 0px 0px,100% 0px;
} */

div{
    width: 100%;
    height: 600px;
    border: 1px solid black;
    background-image: url("bg.png"),url("https://images.unsplash.com/photo-1549740425-5e9ed4d8cd34?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxjb2xsZWN0aW9uLXBhZ2V8MXwzOTU0NTB8fGVufDB8fHx8fA%3D%3D");
    background-size: 5% 10%,100% 100%;
    background-repeat: no-repeat;
    background-position: 50% 80%,0px 0px;
}
